// --------------------
// Style reusable for all components
html {
  background-color: black;
}

body {
  margin: 0;
  padding: 0;
}

// for the state.message
.info {
  margin: 20px;
  padding: 10px 20px;
  border-radius: 10px;
  display: inline-block;
  background-color: #5776e9;
  color: white;
}

.info.info-danger {
  background-color: #e73f3f;
}

/* PlayerProfile.jsx */
.playerWrapper {
  height: 50vh;
  width: 50vw;
  div {
    border: solid black 1px;
  }
}

.playerInfoWrapper {
  display: flex;
  height: auto;
  width: auto;
}

.playerAvatarWrapper {
  display: flex;
  width: 35%;
  flex-flow: column;
}

.playerStatsWrapper {
  width: 35%;
  li {
    list-style-type: none;
  }
}
.playerActionWrapper {
  width: 30%;
  display: flex;
  flex-direction: column;
}

.playerActionButton {
  height: 33%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* MyProfile.jsx */

// --------------------
// Style for App component
.App {
  text-align: center;
  background-color: black;

  .App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 80px;
  }

  .App-header {
    padding: 20px;
    color: white;

    a {
      color: white;
      padding: 0 5px;
      text-decoration: unset;
    }

    a.active {
      font-weight: bold;
    }
  }

  .App-title {
    font-size: 1.5em;
  }

  .App-intro {
    font-size: large;
  }

  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }

    to {
      transform: rotate(360deg);
    }
  }
}

.tableCrimeWrapper {
  display: flex;
}

.crimeTerminalWrapper {
  color: white;
  background-color: black;
  width: 50vw; // 25% of the screen (half of the half)
  height: 100vh;
  border-color: gray;
}

.statusBar {
  padding-top: 1vh;
  height: 5vh;
  background-color: #343a40;
  color: white;
}

.hackerGreen {
  background-color: #148e56 !important;
}
.hackerPurple {
  background-color: #aa94ec !important;
}
.hackerOrange {
  background-color: #fbac73 !important;
}
.hackerRed {
  background-color: #ff8a9d !important;
}

.progress-bar-animated {
  background-color: #aa94ec !important;
}

.progress-bar-danger {
  background-color: #aa94ec !important;
}

.terminalFont {
  font-family: 'Roboto Mono', monospace;
  text-align: left;
  margin-left: 4px;
  margin-top: 4px;
}

.terminalWin {
  color: #06a308;
}

.terminalLost {
  color: #8b0503;
}

.customProgressBar {
  margin: 20px;
}

.navProgressBar {
  width: 10vw;
}

.Typist .Cursor {
  display: inline-block;

  &--blinking {
    opacity: 1;
    animation: blink 1s linear infinite;
    @keyframes blink {
      0% {
        opacity: 1;
      }
      50% {
        opacity: 0;
      }
      100% {
        opacity: 1;
      }
    }
  }
}
.gameWrapper {
  background-color: red;
  width: 100vw;
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.viewport {
  display: flex;
  background-color: blue;
  width: 100%;
  height: 20vh;
}

.columns {
  height: 10vh;
  width: 100vw;
  background-size: 100% 100%;
  animation-timing-function: linear;
  animation-fill-mode: forwards;

  &.columns-top {
    background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/233661/mario-top.svg');
  }

  &.columns-center {
    background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/233661/mario-center.svg');
  }

  &.columns-bottom {
    background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/233661/mario-bottom.svg');
  }

  &:after {
    content: '';
    display: block;
    padding-top: 12.07%;
  }
}

@keyframes ltr-transition-0 {
  0% {
    background-position: 0vw;
  }
  100% {
    background-position: 33.3333vw;
  }
}

@keyframes ltr-transition-1 {
  0% {
    background-position: 33.3333vw;
  }
  100% {
    background-position: 66.6666vw;
  }
}

@keyframes ltr-transition-2 {
  0% {
    background-position: 66.6666vw;
  }
  100% {
    background-position: 100vw;
  }
}

@keyframes rtl-transition-0 {
  0% {
    background-position: -33.3333vw;
  }
  100% {
    background-position: -66.6666vw;
  }
}

@keyframes rtl-transition-1 {
  0% {
    background-position: -100vw;
  }
  100% {
    background-position: -133.3333vw;
  }
}

@keyframes rtl-transition-2 {
  0% {
    background-position: -166.6666vw;
  }
  100% {
    background-position: -200vw;
  }
}

#freeRegister {
  color: #ffcc00;
}

.avatarSelectImages {
  width: 115px;
  height: 130px;
  cursor: pointer;
}
.active {
  border-bottom: red 5px solid;
}

#navbarReplacer {
  -webkit-mask-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(rgba(0, 0, 0, 1)),
    to(rgba(0, 0, 0, 0))
  );
  mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
  width: 100%;
  height: 30vh;
}

.myprofile-statpoint {
  padding: 2px;
}

.myprofile-statpoint-crime-hover {
  box-sizing: border-box;
  border: solid #28a744 2px;
  cursor: pointer;
}

.myprofile-statpoint-crime-click {
  box-sizing: content-box;
  border: solid greenyellow 2px;
  cursor: pointer;
}

.myprofile-statpoint-hack-hover {
  box-sizing: border-box;
  border: solid #007bff 2px;
  cursor: pointer;
}

.myprofile-statpoint-hack-click {
  box-sizing: content-box;
  border: solid lightblue 2px;
  cursor: pointer;
}

.myprofile-statpoint-exp-hover {
  box-sizing: border-box;
  border: solid #ffc107 2px;
  cursor: pointer;
}

.myprofile-statpoint-exp-click {
  box-sizing: content-box;
  border: solid yellow 2px;
  cursor: pointer;
}

.myprofile-statpoint-firewall-hover {
  box-sizing: border-box;
  border: solid #dc3546 2px;
  cursor: pointer;
}

.myprofile-statpoint-firewall-click {
  box-sizing: content-box;
  border: solid salmon 2px;
  cursor: pointer;
}
