// --------------------
// Style reusable for all components
body {
  margin: 0;
  padding: 0;
  font-family: "Roboto Mono", monospace;
}

// for the state.message
.info {
  margin: 20px;
  padding: 10px 20px;
  border-radius: 10px;
  display: inline-block;
  background-color: #5776e9;
  color: white;
}

.info.info-danger {
  background-color: #e73f3f;
}

// --------------------
// Style for App component
.App {
  text-align: center;

  .App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 80px;
  }

  .App-header {
    background-color: black;
    padding: 20px;
    color: white;

    a {
      color: white;
      padding: 0 5px;
      text-decoration: unset;
    }

    a.active {
      font-weight: bold;
    }
  }

  .App-title {
    font-size: 1.5em;
  }

  .App-intro {
    font-size: large;
  }

  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }

    to {
      transform: rotate(360deg);
    }
  }
}

.tableCrimeWrapper {
  display: flex;
}

.crimeTerminalWrapper {
  color: white;
  background-color: black;
  width: 50vw; // 25% of the screen (half of the half)
  height: 100vh;
  border-color: gray;
}

.statusBar {
  padding-top: 1vh;
  height: 5vh;
  background-color: black;
  color: white;
}

.hackerGreen {
  background-color: #148e56 !important;
}
.hackerPurple {
  background-color: #aa94ec !important;
}
.hackerOrange {
  background-color: #fbac73 !important;
}
.hackerRed {
  background-color: #ff8a9d !important;
}

.progress-bar-animated {
  background-color: #aa94ec !important;
}

.progress-bar-danger {
  background-color: #aa94ec !important;
}

.terminalFont {
  font-family: "Roboto Mono", monospace;
  text-align: left;
  margin-left: 4px;
  margin-top: 4px;
}

.terminalWin {
  color: #06a308;
}

.terminalLost {
  color: #8b0503;
}

.customProgressBar {
  margin: 20px;
}

.navProgressBar {
  width: 10vw;
}

.Typist .Cursor {
  display: inline-block;

  &--blinking {
    opacity: 1;
    animation: blink 1s linear infinite;
    @keyframes blink {
      0% {
        opacity: 1;
      }
      50% {
        opacity: 0;
      }
      100% {
        opacity: 1;
      }
    }
  }
}
