.crimes-page-container {
  margin: 0 auto;
  margin-top: 3%;
  height: 100%;
  min-height: 60vh;
}

.crimeTerminalResultWrapper {
  margin: auto;
  width: 50%;
  padding-left: 0.5rem;
  p,
  h5 {
    text-align: center;
    font-size: 0.75;
  }
}
