.crimes-page-container {
  margin: 0 auto;
  margin-top: 3%;
  height: 100%;
  min-height: 60vh;

  .content {
    width: 100%;
    margin: 0 auto;
    margin-top: 3rem;
    
  }
}
@media only screen and (max-width: 600px) {
  .crimes-page-container {
    .content{
      width:100%;
    }
  }
}
