
#navbarReplacer {
  -webkit-mask-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(rgba(0, 0, 0, 1)),
    to(rgba(0, 0, 0, 0))
  );
  mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
  width: 100%;
  height: 30vh;
}

.hackVideoesContainer{
  display:flex;
  justify-content: center;
  margin-top: 2%;
  width:100%
}
.home{
  display:flex;
  justify-content: center;
}
.home-container{
  display: flex;
  flex-direction: column;
  width:50%;
  text-align:left
}
.imageAndQuote{
  display: flex;
  flex-direction: column;
  width:25%;
}

@media screen and (min-width: 599px) {
  
#homeHeader::after{
  content: "CyberhackerWarefare4000"
}
}
@media only screen and (max-width: 600px) {
  #homeHeader::after{
      content: "CHWF4K"
    }
  .hackVideoesContainer, .descriptionText, .imageAndQuote {
    display: none;
  }
  .home-container{
    width:100%
  }
}



